{% extends "base.html"%}
{% block rules%}
<br>
<div class="ruleshead">RULES AND REGULATIONS</div>
<div class="row rules">
	<div class="col-sm-1"><span class="glyphicon glyphicon-bullhorn fa-4x" aria-hidden="true"></span></div>
	<div class="col-sm-11">The participants will be competing individually.</div>
</div>
<div class="row rules">
	<div class="col-sm-1"><span class="glyphicon glyphicon-bullhorn fa-4x" aria-hidden="true"></span></div>
	<div class="col-sm-11">The first round consists of 30 MCQs which must be answered in 30 minutes (approx.).</div>
</div>
<div class="row rules">
	<div class="col-sm-1"><span class="glyphicon glyphicon-bullhorn fa-4x" aria-hidden="true"></span></div>
	<div class="col-sm-11">Top 5 participants will qualify for the final round.</div>
</div>
<div class="row rules">
	<div class="col-sm-1"><span class="glyphicon glyphicon-bullhorn fa-4x" aria-hidden="true"></span></div>
	<div class="col-sm-11">In case of tie(s), the participant with lesser number of incorrect answers will be selected.</div>
</div>
<div class="row rules">
	<div class="col-sm-1"><span class="glyphicon glyphicon-bullhorn fa-4x" aria-hidden="true"></span></div>
	<div class="col-sm-11">The answers of the questions are from authentic sources. </div>
</div>
<div class="row rules">
	<div class="col-sm-1"><span class="glyphicon glyphicon-bullhorn fa-4x" aria-hidden="true"></div>
	<div class="col-sm-11">Any conflict caused by the answers will be dealt by the organizers only and their decision will be final and binding.</div>
</div>

{% endblock %}